<div id="_MainMenu" class="row navbar" style="margin-bottom:0px;position:relative;z-index:99;">
    <ul class="dropdown">
        <li>
            
            <label class="top_menuMain" title="tt">File</label>
           
            <ul class="sub_menu" role="menu">
                <li><a href="#" title="tt">Setup</a></li>
                <li><a href="#" title="tt">Exit</a></li>
            </ul>
        </li>
        <li>
            <label class="top_menuMain" title="tt">View</label>
            <ul class="sub_menu" role="menu">
                <li>
                    <label class="sub_menuMain">DLS &raquo;</label>
                    <ul class="sub_menu" role="menu">
                        
                        <li><a href="#" title="tt">Issue License</a></li>
                        
                        <li><a href="#" title="tt">Eligibility Checks</a></li>
                        
                        <li><a href="#" title="tt">Administrative Tasks</a></li>
                        
                        <li><a href="#" title="tt">View Photos</a></li>
                        
                        <li><a href="#" title="tt">Reports</a></li>
                    </ul>
                </li>
                <li>
                    <label class="sub_menuMain">Flags &raquo;</label>
                    <ul class="sub_menu" role="menu">
                        
                        <li><a href="#" title="tt">Flag Maintenance</a></li>
                    </ul>
                </li>
                <li>
                    <label class="sub_menuMain">TARIS 2 &raquo;</label>
                    
                    <ul class="sub_menu" role="menu">
                        <li><a href="#" title="tt">Vehicle Registration</a></li>
                    </ul>
                </li>
                <li>
                    <label class="sub_menuMain">DIWS &raquo;</label>
                    <ul class="sub_menu" role="menu">
                    
                        <li><a href="#" title="tt">DIWS</a></li>
                    </ul>
                </li>
                <li>
                    <label class="sub_menuMain">ACIS &raquo;</label>
                    <ul class="sub_menu" role="menu">
                    
                        <li><a href="#" title="tt">ACIS</a></li>
                    </ul>
                </li>
                <li>
                    <label class="sub_menuMain">POS &raquo;</label>
                    <ul class="sub_menu" role="menu">
                    
                        <li><a href="#" title="tt">POS</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            
            <label class="top_menuMain" title="tt">License</label>
            <ul class="sub_menu" role="menu">
            
                <li><a href="#" title="tt">New Transaction</a></li>
            
                <li><a href="#" title="tt">Existing Transaction</a></li>
            
                <li><a href="#" title="tt">Close Transaction</a></li>
            
                <li><a href="#" title="tt">View Application</a></li>
            </ul>
        </li>
        <li>
            
            <label class="top_menuMain" title="tt">Application</label>
            <ul class="sub_menu" role="menu">
            
                <li><a href="#" title="tt">Documents</a></li>
                <li>
                    <label class="sub_menuMain">Comments &raquo;</label>
                    <ul class="sub_menu" role="menu">
            
                        <li><a href="#" title="tt">Add</a></li>
            
                        <li><a href="#" title="tt">View</a></li>
                    </ul>
                </li>
            
                <li><a href="#" title="tt">Overrides</a></li>
            
                <li><a href="#" title="tt">Print Application</a></li>
            
                <li><a href="#" title="tt">Print CTF</a></li>
            </ul>
        </li>
        <li>
            
            <label class="top_menuMain" title="tt">HostDown</label>
            <ul class="sub_menu" role="menu">
            
                <li><a href="#" title="tt">Set Host Up</a></li>
            
                <li><a href="#" title="tt">Set Host Down</a></li>
            
                <li><a href="#" title="tt">Reprocess Hostdown Transactions</a></li>
            </ul>
        </li>
        <li>
            
            <label class="top_menuMain" title="tt">Help</label>
            <ul class="sub_menu" role="menu">
            
                <li><a href="#" title="tt">Contents</a></li>
            
                <li><a href="#" title="tt">Index</a></li>
            
                <li><a href="#" onclick="javascript: $('#dialogAbout').dialog();" title="tt">About</a></li>
            </ul>
        </li>
    </ul>
</div>
