


@* JQUERY MUST BE LOADED BEFORE THIS PARTIAL VIEW    click event handlers are in _Layout.cshtml*@

<div id="accordion" style="min-height:680px;">
 
    <h3 title="tt" style="padding-left:1.2em;">DLS</h3>

    <div id="navbarDLS" style="min-height:470px; padding:2px;">
  
        <div id="dlsIssueLicense" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="Issue License" src="~/Images/dlsIssueLic.PNG" /></a>
        </div>
  
        <div id="EligibilityChecks" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="Eligibility Checks" src="~/Images/dlsEligibilityChecks.PNG" /></a>
        </div>
  
        <div id="AdministrativeTasks" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="Administrative Tasks" src="~/Images/dlsAdminTasks.PNG" /></a>
        </div>
  
        <div id="Reports" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="Reports" src="~/Images/dlsReports.PNG" /></a>
        </div>
  
        <div id="ViewPhotos" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="View Photos" src="~/Images/dlsViewPhotos.PNG" /></a>
        </div>
  
        <div id="CER" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="CER" src="~/Images/dlsCER.PNG" /></a>
        </div>
  
        <div id="ProcessHostDown" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="Reprocess HostDown Transactions" src="~/Images/dlsProcessHostDown.PNG" /></a>
        </div>
    </div>
  
    <h3 title="tt" style="padding-left:1.2em;">Flags</h3>
    <div id="navbarFlags" style="padding:2px;">
       
        <div id="flagsNav1" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="Flag Maintenance" src="~/Images/underConstruction.png" /></a>
        </div>
    </div>
    
    <h3 title="tt" style="padding-left:1.2em;">TARIS 2</h3>
    
    <div id="navbarTaris2" style="padding:2px;">
        <div id="taris2Nav1" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="Vehicle Registration" src="~/Images/underConstruction.png" /></a>
        </div>
    </div>
    
    <h3 title="tt" style="padding-left:1.2em;">Misc. Cashiering</h3>
    
    <div id="navbarMiscCashiering" style="padding:2px;">
        <div id="miscCashieringNav1" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="Misc Cashiering" src="~/Images/underConstruction.png" /></a>
        </div>
    </div>
    
    <h3 title="tt" style="padding-left:1.2em;">DIWS</h3>
    
    <div id="navbarDIWS" style="padding:2px;">
        <div id="Nav1" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="DIWS" src="~/Images/underConstruction.png" /></a>
        </div>
    </div>
    
    <h3 title="tt" style="padding-left:1.2em;">ACIS</h3>
    
    <div id="navbarACIS" style="padding:2px;">
        <div id="Nav1" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="ACIS" src="~/Images/underConstruction.png" /></a>
        </div>
    </div>
    
    <h3 title="tt" style="padding-left:1.2em;">POS</h3>
    
    <div id="navbarPOS" style="padding:2px;">
        <div id="posNav1" style="margin-bottom:2px;" title="tt">
            <a href="#"><img alt="POS" src="~/Images/underConstruction.png" /></a>
        </div>
    </div>
</div>


