<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <b>This is Capture  photo Step</b>
    <b>Angular 2 is a framework to help us build client applications in HTML and JavaScript.

The framework consists of several cooperating libraries, some of them core and some optional.

We write applications by composing HTML templates with Angularized-markup, writing component classes to manage those templates, adding application logic in services, and handing the top root component to Angular's bootstrapper.

Angular takes over, presenting our application content in a browser and responding to user interactions according to the instructions we provided.
</b>
    <b>
        Angular 2 is a framework to help us build client applications in HTML and JavaScript.

        The framework consists of several cooperating libraries, some of them core and some optional.

        We write applications by composing HTML templates with Angularized-markup, writing component classes to manage those templates, adding application logic in services, and handing the top root component to Angular's bootstrapper.

        Angular takes over, presenting our application content in a browser and responding to user interactions according to the instructions we provided.
    </b>
    <b>
        Angular 2 is a framework to help us build client applications in HTML and JavaScript.

        The framework consists of several cooperating libraries, some of them core and some optional.

        We write applications by composing HTML templates with Angularized-markup, writing component classes to manage those templates, adding application logic in services, and handing the top root component to Angular's bootstrapper.

        Angular takes over, presenting our application content in a browser and responding to user interactions according to the instructions we provided.
    </b>
    <b>
        Angular 2 is a framework to help us build client applications in HTML and JavaScript.

        The framework consists of several cooperating libraries, some of them core and some optional.

        We write applications by composing HTML templates with Angularized-markup, writing component classes to manage those templates, adding application logic in services, and handing the top root component to Angular's bootstrapper.

        Angular takes over, presenting our application content in a browser and responding to user interactions according to the instructions we provided.
        <b>
            Angular 2 is a framework to help us build client applications in HTML and JavaScript.

            The framework consists of several cooperating libraries, some of them core and some optional.

            We write applications by composing HTML templates with Angularized-markup, writing component classes to manage those templates, adding application logic in services, and handing the top root component to Angular's bootstrapper.

            Angular takes over, presenting our application content in a browser and responding to user interactions according to the instructions we provided.
            <b>
                Angular 2 is a framework to help us build client applications in HTML and JavaScript.

                The framework consists of several cooperating libraries, some of them core and some optional.

                We write applications by composing HTML templates with Angularized-markup, writing component classes to manage those templates, adding application logic in services, and handing the top root component to Angular's bootstrapper.

                Angular takes over, presenting our application content in a browser and responding to user interactions according to the instructions we provided.
            </b>
        </b>
    </b>
</body>
</html>
